<main>
  <div class="content-wrapper">
    <nav>
      <ul class="sub-navigation">
        <%= render(partial: 'styles/sub_nav_item', locals: {
          title: "Account",
          uri: account_path,
          current: false
        }) %>
        <%= render(partial: 'styles/sub_nav_item', locals: {
          title: "Goals",
          uri: account_goals_path,
          current: true
        }) %>
        <li><a href="#nolink">Ideas</a></li>
        <li><a href="#nolink">Following</a></li>
      </ul>
    </nav>
    <h1>My goals</h1>
  </div>
  <div class="content-wrapper">
    <% if(@goals.any?) %>
    <ul class="bare-list float-grid css-grid">
      <% @goals.each do |goal| %>
      <li>
        <%= render(partial: 'goal_card', locals: { goal: goal}) %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="see-more">
    <button class="btn" type="button" data-more="true">See more</button>
  </div>

  <% else %>
  <h3>You don't currently have any goals...</h3>
  <% end %>

</main>
