<nav class="site-header__nav">
  <ul class="main-navigation">
    <li><a href="#nolink">Inspiration</a></li>
    <%= render(partial: 'styles/sub_nav_item', locals: {
      title: "Sign up",
      uri: new_user_path,
      current: false
    }) %>
    <%= render(partial: 'styles/sub_nav_item', locals: {
      title: "Log in",
      uri: new_session_path,
      current: false
    }) %>
  </ul>
</nav>
