<%= form_tag(ideas_index_path, class: 'global-search', method: :get) do %>
<div class="input-inline">
  <label class="input-group__label sr-only" for="search_input">Looking for inspiration?</label>
  <div class="input-row">
    <%= text_field_tag('search_input', nil, class: 'input-row__field', placeholder: "e.g. Northern lights") %>
    <%= button_tag('Search', class: 'btn btn--inline btn--primary') %>
  </div>
</div>
<% end %>
